<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1" />

    <title>CulDeCats</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>

    <div class="wrapper">

      <p>Welcome to Cul-De-Cats. <%= Date.today.strftime("Today is %A, %B %d.") %></p>
      <a href="/yards">All Yards</a>
      <a href="/cats">All Cats</a>
      <strong><a href="/cats/new">Create Cat</a></strong>
      <br>
      <div style="border-top:1px solid grey; margin-top: 10px"></div>
      <br>

        <%= yield %>

      <br>
      <br>

      <p><strong>Meow Checker: Is the meow really a meow?</strong></p>
      <form action="/check-meow" method="post">
        Meow to check: <input type="text" name="meow">
        <br>
        <input type="submit" value="Check!">
      </form>
      <footer class="branding">
        <small>&copy; 2020 <strong>CulDeCats</strong></small>
      </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <!--[if lt IE 7]>
      <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
      <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
  </body>
</html>
