<h1>Yards</h1>

<strong><%= link_to "Create New Yard", new_yard_path %></strong>
<br>
<br>
<% @yards.each do |yard| %>
  <p><%= link_to yard.title, yard %> - <%= link_to "Edit", edit_yard_path(yard)%></p>
<% end %>