<h1>Create a Cat</h1>

<form action="/cats" method="post">
  <p>
    <label for="name">Name:</label>
    <input id="name" name="name" type="text">
  </p>
  <p>
    <label for="claw_count">Claw Count:</label>
    <input id="claw_count" name="claw_count" type="number">
  </p>
  <p>
    <label for="coarseness">Coarseness:</label>
    <input id="coarseness" name="coarseness" type="text">
  </p>
  <input type="submit" value="Get to Prowlin'!">
</form>